<div *ngIf="auth.canAdmin(user); then admin else guest" class=""></div>

<ng-template #admin>
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-header">
          Cadastrar vidraria
        </div>
        <div class="card-body">
          <form (ngSubmit)="submit()" #addform="ngForm" #form>
            <div class="form-group">
              <label for="titulo">Título</label>
              <input type="text" name="titulo" id="titulo" [(ngModel)]="vidraria.titulo" class="form-control" autofocus>
            </div>
            <div class="form-group">
              <label for="titulo">Texto</label>
              <textarea rows="8" name="texto" id="texto" [(ngModel)]="vidraria.texto" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <input type="file" name="file" class="form-control" (change)="detectFiles($event)">
            </div>
        
            <button type="submit" class="btn btn-default" [disabled]="!addform.form.valid">Cadastrar</button>
      
          </form>
        </div>
      </div>
    </div>
    
    <div class="col-7">
      <div *ngIf="!lista">
        <div class="alert alert-danger" role="alert">
          <h3>Nenhum item encontrado.</h3>
        </div>
      </div>
      
      <div *ngIf="lista">
        <div class="card" *ngFor="let l of lista | async">
          <div class="card-body">
            <div class="card-title">
              <h5>
                <span>{{ l.titulo }}</span>
                <span class="pull-right">
                  <img src="{{ l.imagem_file }}" class="img-fluid rounded-circle z-depth-0" width="35px">
                </span>
              </h5>
            </div>
            <div class="card-text">
              <p [innerHTML]="l.texto | sanitizeHtml"></p>
            </div>
          </div>
          <div class="card-footer">
            <span class="button is-small is-danger card-footer-item" (click)='deleteItem(l)'>Remover item</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</ng-template>

<ng-template #guest>
  Convidado
</ng-template>