<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#" routerLink="">Química</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="">História <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vidrarias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Equipamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Glossário</a>
        </li>
      </ul>

      <div *ngIf="auth.user$ | async; then authenticated else guest" class=""></div>

      <ng-template #guest>
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item">
            <a href="#" routerLink="login" class="nav-link">
              Login
            </a>
          </li>
        </ul>
      </ng-template>

      <ng-template #authenticated>

        <ul *ngIf="auth.user$ | async as user" class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item avatar dropdown">
            <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <img src="{{user.photoURL}}" class="img-fluid rounded-circle z-depth-0" width="35px">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-purple" aria-labelledby="navbarDropdownMenuLink-5">
              <a routerLink="login" class="dropdown-item waves-effect waves-light" href="javascript:;;">Profile</a>
              <a (click)="auth.signOut()" class="dropdown-item waves-effect waves-light" href="javascript:;;">Sair</a>
            </div>
          </li>
        </ul>

      </ng-template>

    </div>
  </nav>
</header>
