/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

body main {
  padding: 80px 15px 0;
}

code {
  font-size: 80%;
}


.btn-social {
  color: #fff;

  i {
    margin-right: 5px;
  }

  &:hover {
    color: #fff;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.2), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
  }

  .btn-block {
    margin-bottom: 10px;
  }
}

.btn-google {
  background-color: #dd4b39;
}

#flashMessages .flash-message{display:none;}
#flashMessages .flash-message:last-child{display:block;}
